# Python & Virtual environment
.venv/
venv/
__pycache__/
*.pyc

# Dataset & Images (Không đưa lên GitHub)
DeepPCB/
dataset/
*.jpg
*.png
!visualized/**
!runs/**

# Training outputs & Model weights
*.pt
!runs/**/weights/best.pt
!runs/**/weights/last.pt

